@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Google Sans-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c41e3edbba549000de83cdc/GoogleSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Google Sans-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/5b037ae8fda4ae000c932a42/GoogleSans-Regular-v1.27.ttf")
    format("truetype");
}

@font-face {
  font-family: "Google Sans Text-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/6530d2b8be1e966aeec6bd47/fonts/opensans-variablefont_wdth-wght.ttf")
    format("truetype");
}
